Repository charmplusplus/charm, pull requests merged in 2019-07, with the labels that each got.

#2381 AMPI: Fix handling of MPI_PROC_NULL
  src/libs/ck-libs/ampi/ampi.C
Labels: AMPI

#2383 AMPI: Fix MPI_Mrecv of Ssend message
  src/libs/ck-libs/ampi/ampi.C
Labels: AMPI

#2384 AMPI: fix LB/UB of DDT_Struct
  src/libs/ck-libs/ampi/ddt.C
Labels: AMPI

#2385 AMPI: define MPI_Message_{f2c,c2f}
  src/libs/ck-libs/ampi/ampi.h
  src/libs/ck-libs/ampi/ampi_functions.h
Labels: AMPI

#2386 AMPI: implement MPI_Status_{f2c,c2f}
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampi_functions.h
Labels: AMPI

#2389 AMPI: implement MPI_Win_{lock,unlock}_all
  src/libs/ck-libs/ampi/ampiOneSided.C
  src/libs/ck-libs/ampi/ampi_functions.h
  src/libs/ck-libs/ampi/ampif.C
Labels: AMPI

#2387 AMPI: implement MPI_Type_match_size
  README.ampi
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampi_functions.h
  src/libs/ck-libs/ampi/ampif.C
Labels: AMPI

#2390 AMPI: fix compilation with AMPI_DEBUG
  src/libs/ck-libs/ampi/ampi.C
Labels: AMPI

#2195 AMPI: use zero-copy direct API to avoid intermedate copies
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampi.ci
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#2391 AMPI: Fix DDTDEBUG
  src/libs/ck-libs/ampi/ddt.h
Labels: AMPI

#2382 AMPI: make tests/datatype abort on error
  tests/ampi/datatype/datatype.C
Labels: AMPI

#2396 Revert "AMPI: fix LB/UB of DDT_Struct"
  src/libs/ck-libs/ampi/ddt.C
Labels: AMPI

#2398 DDT: remove using statements
  src/libs/ck-libs/ampi/ddt.C
  src/libs/ck-libs/ampi/ddt.h
Labels: AMPI

#2400 AMPI: Fix checkBuf for MPI_BOTTOM
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ddt.h
Labels: AMPI

#2404 DDT: implement better debugging
  src/libs/ck-libs/ampi/ddt.C
  src/libs/ck-libs/ampi/ddt.h
Labels: AMPI

#2403 AMPI: remove using statements
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampiOneSided.C
  src/libs/ck-libs/ampi/ampif.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#2401 AMPI: replace custom complex classes with std::complex
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#2407 bugfix : CldEnqueueGroup for cldbs none and test
  src/conv-ldb/cldb.none.C
  src/conv-ldb/cldb.test.C
Labels: Bug, load balancing, smp

#2408 bugfix #1999: record/replay may hang in SMP
  src/ck-core/envelope.h
  src/ck-core/init.C
Labels: Bug, smp

#2414 cleanup: remove unused otherlibs
  src/libs/Makefile
  src/libs/other/Makefile
  src/scripts/Makefile
Labels: cleanup

#2419 bugfix: use # to stringify MACHSTATE format strings
  src/arch/util/machine.h
Labels: Bug, feature, machine layers

#2416 AMPI: fix bug in zero copy buffer deregistration
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#2418 cleanup: remove another vestige of other libs
  src/libs/Makefile
Labels: cleanup

#2136 CMake-based build system
  CMakeLists.txt
  buildcmake
  cmake/ci-files.cmake
  cmake/detect-features.cmake
  doc/charm++/manual.rst
  src/QuickThreads/CMakeLists.txt
  src/ck-core/CMakeLists.txt
  src/ck-perf/CMakeLists.txt
  src/ck-pics/CMakeLists.txt
  src/conv-core/CMakeLists.txt
  src/conv-ldb/CMakeLists.txt
  src/langs/bluegene/CMakeLists.txt
  src/libs/ck-libs/CMakeLists.txt
  src/libs/ck-libs/ampi/CMakeLists.txt
  src/libs/conv-libs/CMakeLists.txt
  src/scripts/charmc
  src/util/CMakeLists.txt
  src/util/boost-context/CMakeLists.txt
  src/util/charmrun-src/CMakeLists.txt
  src/xlat-i/CMakeLists.txt
Labels: Build & test automation

#2196 AMPI cleanup: pass ampiParent* around rather than always calling getAmpiParent()
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampiOneSided.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#2428 BigSim #2426: fix crash in megampi test
  src/libs/ck-libs/ampi/ampi.C
Labels: AMPI, BigSim

#2432 BigSim: spell 'if' correctly
  src/libs/ck-libs/ampi/ampi.C
Labels: BigSim

#2433 add missing romio command
  src/libs/ck-libs/ampi/CMakeLists.txt
Labels: AMPI

#2435 cmake: allow passing extra options to compiler
  CMakeLists.txt
  buildcmake
Labels: Build & test automation

#2198 AMPI cleanup: move MPI_Waitall implementation into ampiParent::waitall()
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#2437 AMPI cleanup: rename msg to buf
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampi_functions.h
Labels: AMPI

#2438 AMPI: Implement MPI_Win_allocate
  src/libs/ck-libs/ampi/ampi.h
  src/libs/ck-libs/ampi/ampiOneSided.C
  src/libs/ck-libs/ampi/ampi_functions.h
  src/libs/ck-libs/ampi/ampif.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#2443 AMPI cleanup: fix building with AMPI_DEBUG
  src/libs/ck-libs/ampi/ampi.C
Labels: AMPI

#2444 CMake cleanups
  CMakeLists.txt
  cmake/ci-files.cmake
Labels: Build & test automation

#2450 ROMIO: Remove 'P' from PMPI_File_set_errhandler in adio/common/ad_end.c
  src/libs/ck-libs/ampi/romio/README.AMPI
  src/libs/ck-libs/ampi/romio/adio/common/ad_end.c
Labels: AMPI

#2193 AMPI: add threshold above which all sends become synchronous sends
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#2452 cmake: make fortran optional
  CMakeLists.txt
  cmake/detect-features.cmake
  src/ck-core/CMakeLists.txt
  src/ck-perf/CMakeLists.txt
  src/libs/ck-libs/ampi/CMakeLists.txt
  src/util/CMakeLists.txt
Labels: Build & test automation
