Repository charmplusplus/charm, pull requests merged in 2019-11, with the labels that each got.

#2463 cleanup: change #!/bin/sh to #!/bin/bash
  build
  doc/debugger/figs/convert.sh
  doc/fem/fig/convert.sh
  examples/charm++/lvServer/run_server.sh
  examples/charm++/wave2d/runserver.sh
  examples/multiphaseSharedArrays/histogram/run.sh
  examples/multiphaseSharedArrays/matmul/run.sh
  examples/multiphaseSharedArrays/simpletest/run.sh
  relink.script
  src/QuickThreads/configure
  src/arch/common/special.sh
  src/arch/conv-mach-fix.sh
  src/arch/gni/charmrun
  src/arch/gni/conv-mach-hugepages.sh
  src/arch/mpi-bluegeneq/charmrun
  src/arch/mpi-win64/charmrun
  src/arch/mpi/charmrun
  src/arch/ofi/charmrun
  src/arch/pami-bluegeneq/charmrun
  src/arch/pami-linux-ppc64le/charmrun
  src/arch/pamilrts-bluegeneq/charmrun
  src/arch/pamilrts-linux-ppc64le/charmrun
  src/arch/shmem-crayxe/charmrun
  src/arch/sim/charmrun
  src/arch/ucx/charmrun
  src/arch/uth/charmrun
  src/arch/win/system_ln
  src/arch/win/unix2nt_ar
  src/arch/win/unix2nt_cc
  src/ck-ldb/Makefile_lb.sh
  src/libs/ck-libs/ampi/ampiCC
  src/libs/ck-libs/ampi/ampif77
  src/libs/ck-libs/ampi/ampif90
  src/libs/ck-libs/fem/make_fem_alone.sh
  src/libs/ck-libs/pose/etrans.pl
  src/scripts/charmc
  src/scripts/conv-config.sh
  src/scripts/gatherflat
  src/scripts/gathertree
Labels: Build & test automation

#2601 Bug #2599: workaround for building shared hwloc library
  src/scripts/configure.ac
Labels: Build & test automation

#2602 charmc/ampicc: pass through certain compiler options even without file to compile
  src/libs/ck-libs/ampi/ampiCC
  src/scripts/charmc
Labels: Build & test automation

#2614 hwloc: disable C99 check
  contrib/hwloc/config/hwloc.m4
  contrib/hwloc/configure.ac
Labels: Build & test automation, Windows

#2611 Separate checkpoint files into subdirectories
  src/ck-core/ckcheckpoint.C
Labels: checkpoint/restart

#2623 charmrun: const_cast CreateProcess argument
  src/util/charmrun-src/charmrun.C
Labels: Windows, charmrun

#2607 Docs: Rearrange AMPI manual
  doc/ampi/manual.rst
Labels: AMPI, documentation
