Repository charmplusplus/charm, pull requests merged in 2019-08, with the labels that each got.

#2460 AMPI+CUDA: fix build
  src/arch/common/special.sh
  src/libs/ck-libs/ampi/Makefile
  src/libs/ck-libs/ampi/ampiCC
  src/scripts/charmc
Labels: AMPI, Build & test automation, GPU support

#2462 AMPI+CUDA: fix spurious error messages
  src/libs/ck-libs/ampi/ampiCC
  src/scripts/charmc
Labels: AMPI, GPU support

#2466 Revert+fix cuda linking
  examples/charm++/cuda/busywait/Makefile
  examples/charm++/cuda/hello/Makefile
  examples/charm++/cuda/matmul/Makefile
  examples/charm++/cuda/mempool/Makefile
  examples/charm++/cuda/qdtest/Makefile
  examples/charm++/cuda/stencil2d/Makefile
  examples/charm++/cuda/vecadd/Makefile
  src/arch/common/conv-mach-cuda.sh
  src/libs/ck-libs/ampi/Makefile
  src/libs/ck-libs/ampi/ampiCC
  src/scripts/charmc
Labels: GPU support

#2461 cmake: update documentation
  doc/charm++/manual.rst
Labels: Build & test automation

#2464 AMPI: debug API arguments
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampiMisc.C
  src/libs/ck-libs/ampi/ampiOneSided.C
  src/libs/ck-libs/ampi/ampi_mpix.C
  src/libs/ck-libs/ampi/ampi_noimpl.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#2093 Cleanup (#2047): new license from OTM
  LICENSE
Labels: cleanup

#2468 Remove BigSim testing of ampi/datatype test which uses MPI_Ssend
  tests/ampi/datatype/Makefile
Labels: AMPI, BigSim

#2465 AMPI: add exit code testing
  tests/ampi/Makefile
  tests/ampi/exit/.gitignore
  tests/ampi/exit/Makefile
  tests/ampi/exit/exit_explicit.C
  tests/ampi/exit/exit_return.C
Labels: AMPI

#2476 cleanup: git ignore ucx build dir
  .gitignore
Labels: UCX, cleanup

#2478 AMPI: fix exit code handling for bigsim, multicore, ucx, uth
  src/arch/ucx/machine.C
  src/arch/uth/machine.C
  src/arch/util/machine-common-core.C
  tests/ampi/Makefile
Labels: AMPI, BigSim, UCX

#2484 AMPI #2436: fix bug in ampi::requestPut for contiguous datatypes
  src/libs/ck-libs/ampi/ampi.C
Labels: AMPI

#2493 AMPI: check for nullptr return value from AmpiSeqQ::getOutOfOrder
  src/libs/ck-libs/ampi/ampi.C
Labels: AMPI
