Repository charmplusplus/charm, pull requests merged in 2019-05, with the labels that each got.

#2238 Use independent ccache per Travis build
  .travis.yml
Labels: build & test automation

#2240 doc: fix malformed hyperlink target
  doc/charm++/manual.rst
Labels: cleanup, documentation

#2190 AMPI: implement (I)Ssend's using a synchronous rendezvous protocol
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampi.ci
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: ampi

#2191 AMPI: use Ssend protocol for PE-local sends to avoid intermediate copy
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: ampi

#2192 AMPI: use Ssend protocol for Node-local sends to avoid intermediate copy
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampi.ci
  src/libs/ck-libs/ampi/ampiOneSided.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: ampi
