Repository charmplusplus/charm, pull requests merged in 2020-11, with the labels that each got.

#3104 cmake: echo all-tests build even in non-verbose mode
  CMakeLists.txt
  cmake/Makefile.tests
  cmake/Makefile.tests.common
Labels: CMake

#3138 cmake,doc: fix LB build doc
  doc/charm++/manual.rst
Labels: CMake, documentation

#3147 AMPI: Avoid self-inflicted deprecation warnings when building
  src/libs/ck-libs/ampi/CMakeLists.txt
  src/libs/ck-libs/ampi/Makefile
Labels: AMPI

#3144 changes: document removed machine layers
  CHANGES
Labels: cleanup, documentation

#3151 Fix rare bug seen in ZC EM Post API examples
  examples/charm++/zerocopy/entry_method_post_api/prereg/simpleZeroCopy/simpleZeroCopy.C
  examples/charm++/zerocopy/entry_method_post_api/prereg/simpleZeroCopy/simpleZeroCopy.ci
  examples/charm++/zerocopy/entry_method_post_api/reg/simpleZeroCopy/simpleZeroCopy.C
  examples/charm++/zerocopy/entry_method_post_api/reg/simpleZeroCopy/simpleZeroCopy.ci
  examples/charm++/zerocopy/entry_method_post_api/unreg/simpleZeroCopy/simpleZeroCopy.C
  examples/charm++/zerocopy/entry_method_post_api/unreg/simpleZeroCopy/simpleZeroCopy.ci
Labels: Zerocopy

#3150 Clean up CMK_MOD_NAME_ALLCAPS on ppc64le with GCC
  cmake/detect-features-fortran.cmake
  src/arch/pami-linux-ppc64le/cc-gcc.sh
  src/arch/pamilrts-linux-ppc64le/cc-gcc.sh
  src/arch/ucx-linux-ppc64le/cc-gcc.sh
Labels: CMake, Fortran

#3154 cmake: resolve CC and flags for hwloc at build time
  CMakeLists.txt
Labels: CMake

#3155 cmake: support passing gfortran version
  buildcmake
Labels: CMake

#3133 LB: Readd RecBipartLB
  src/ck-core/CMakeLists.txt
  src/ck-ldb/EveryLB.ci
  src/ck-ldb/Make.lb
  src/ck-ldb/Makefile_lb.sh
  src/ck-ldb/RecBipartLB.C
  src/ck-ldb/RecBipartLB.ci
  src/ck-ldb/RecBipartLB.h
  src/scripts/Make.cidepends
  src/scripts/Make.depends
Labels: load balancing

#3159 buildcmake: Use -cpmod to copy Fortran .mod files
  src/ck-core/CMakeLists.txt
  src/ck-perf/CMakeLists.txt
  src/libs/ck-libs/ampi/CMakeLists.txt
  src/util/CMakeLists.txt
Labels: CMake, Fortran

#3156 ci: add spack test + spack fixes
  .github/workflows/spack.yml
  buildcmake
  buildold
  src/arch/common/conv-mach-darwin.sh
Labels: CI

#3166 CI: also test Spack build
  .github/workflows/spack.yml
Labels: CI

#3167 rename 'pgm' to something useful
  benchmarks/ampi/pingpong/Makefile
  benchmarks/ampi/pingpong/pingpong-1way.c
  benchmarks/charm++/pingpong/Makefile
  benchmarks/charm++/pingpong/pingpong.C
  benchmarks/charm++/queueperf/Makefile
  benchmarks/charm++/zerocopy/entry_method_api/prereg/pingpong/Makefile
  benchmarks/charm++/zerocopy/entry_method_api/reg/pingpong/Makefile
  benchmarks/charm++/zerocopy/entry_method_api/unreg/pingpong/Makefile
  benchmarks/charm++/zerocopy/entry_method_post_api/prereg/pingpong/Makefile
  benchmarks/charm++/zerocopy/entry_method_post_api/reg/pingpong/Makefile
  benchmarks/charm++/zerocopy/entry_method_post_api/unreg/pingpong/Makefile
  benchmarks/converse/commbench/Makefile
  benchmarks/converse/cthtest/Makefile
  examples/ampi/creduce/Makefile
  examples/charm++/array/Makefile
  examples/charm++/commlib/multicast/Makefile
  examples/charm++/integrate/Makefile
  examples/charm++/integrateArray/Makefile
  examples/charm++/integratePUPable/Makefile
  examples/charm++/piArray/Makefile
  examples/charm++/prio/Makefile
  examples/charm++/ring/Makefile
  examples/charm++/rings/Makefile
  examples/charm++/speeds/Makefile
  examples/charm++/speeds/speed.C
  examples/charm++/whenidle/Makefile
  tests/ampi/fallreduce/Makefile
  tests/ampi/megampi/Makefile
  tests/ampi/migration/Makefile
  tests/ampi/stacksize/Makefile
  tests/charm++/io/Makefile
  tests/charm++/megatest/Makefile
  tests/charm++/queue/Makefile
  tests/charm++/reductionTesting/reductionTesting1D/Makefile
  tests/charm++/reductionTesting/reductionTesting1D/readme.txt
  tests/charm++/reductionTesting/reductionTesting2D/Makefile
  tests/charm++/reductionTesting/reductionTesting2D/readme.txt
  tests/charm++/reductionTesting/reductionTesting3D/Makefile
  tests/charm++/reductionTesting/reductionTesting3D/readme.txt
  tests/charm++/zerocopy/large_bcast/Makefile
  tests/charm++/zerocopy/large_bcast/largedata.C
  tests/converse/megacon/Makefile
  tests/converse/megacon/README
  tests/fem/femtest/Makefile
  tests/fem/megafem/Makefile
Labels: Build & test automation

#3169 Embed ROMIO objects into AMPI library
  src/libs/ck-libs/ampi/CMakeLists.txt
  src/libs/ck-libs/ampi/Makefile
  src/libs/ck-libs/ampi/ampiCC
  src/libs/ck-libs/ampi/romio/README.AMPI
  src/libs/ck-libs/ampi/romio/confdb/aclocal_romio.m4
  src/libs/ck-libs/ampi/romio/configure
Labels: AMPI
