Repository charmplusplus/charm, pull requests merged in 2020-06, with the labels that each got.

#2892 CI: add changa test
  .github/workflows/changa.yml
Labels: CI

#2893 cmake: add missing tests and defines
  .github/workflows/changa.yml
  CMakeLists.txt
  cmake/detect-features-c.cmake
  cmake/detect-features.cmake
  src/libs/ck-libs/CMakeLists.txt
Labels: CMake

#2089 DDT: add PUP methods for derived datatypes
  src/libs/ck-libs/ampi/ddt.C
  src/libs/ck-libs/ampi/ddt.h
Labels: AMPI

#2888 Remove deprecated CK_DEFAULT_BITWISE_PUP and PUPmarshall
  src/ck-core/charm++.h
  src/ck-core/ckarray.h
  src/ck-core/ckarrayindex.h
  src/ck-core/ckarrayoptions.h
  src/ck-core/ckcheckpoint.C
  src/ck-core/cksection.h
  src/ck-ldb/CentralLBMsg.h
  src/ck-ldb/lbdb.h
  src/libs/ck-libs/ParFUM/ParFUM_internals.h
  src/libs/ck-libs/ampi/ampiimpl.h
  src/libs/ck-libs/fem/fem_mesh.h
  src/libs/ck-libs/fftlib/fftlib.h
  src/libs/ck-libs/idxl/idxl_comm.h
  src/libs/ck-libs/idxl/idxl_layout.h
  src/libs/ck-libs/liveViz3d/ckviewable.h
  src/util/ckbitvector.h
  src/util/ckimage.h
  src/util/pup.h
  src/xlat-i/xi-Chare.C
Labels: cleanup

#2894 CI: add NAMD test
  .github/workflows/namd.yml
Labels: CI

#2895 Add CcdSCHEDLOOP and move HAPI cleanup
  doc/converse/manual.rst
  src/arch/cuda/hybridAPI/hapi_impl.cpp
  src/arch/cuda/hybridAPI/hapi_impl.h
  src/ck-core/init.C
  src/conv-core/convcore.C
  src/conv-core/converse.h
Labels: GPU support

#2898 cmake: add jpeg include dir
  src/libs/ck-libs/CMakeLists.txt
Labels: CMake

#2908 cmake: add Makefile to build and run tests from tmp/
  CMakeLists.txt
  cmake/Makefile.tests
Labels: CMake

#2910 cmake: various fixes
  CMakeLists.txt
  src/ck-core/CMakeLists.txt
  src/ck-perf/CMakeLists.txt
  src/ck-pics/CMakeLists.txt
  src/conv-core/CMakeLists.txt
  src/libs/ck-libs/CMakeLists.txt
  src/libs/ck-libs/ampi/CMakeLists.txt
  src/libs/ck-libs/ampi/ampiCC
Labels: CMake

#2912 cmake: Fix Makefile.tests
  .gitattributes
  cmake/Makefile.tests
Labels: CMake

#2914 cmake: add --only-configure option
  buildcmake
Labels: CMake

#2769 AMPI: Improve portability of fsglobals and pipglobals
  CMakeLists.txt
  cmake/detect-features-c.cmake
  cmake/detect-features-cxx.cmake
  cmake/detect-features.cmake
  src/arch/mpi-win-x86_64/conv-mach.sh
  src/arch/multicore-win-x86_64/conv-mach.sh
  src/arch/netlrts-win-x86_64/conv-mach.sh
  src/arch/win/unix2nt_cc
  src/ck-core/charm-api.h
  src/libs/ck-libs/ampi/CMakeLists.txt
  src/libs/ck-libs/ampi/Makefile
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampi.h
  src/libs/ck-libs/ampi/ampiCC
  src/libs/ck-libs/ampi/ampi_funcptr_loader.C
  src/libs/ck-libs/ampi/ampi_funcptr_loader.h
  src/libs/ck-libs/ampi/ampi_funcptr_loader_stub.C
  src/libs/ck-libs/ampi/ampi_funcptr_pipglobals.C
  src/libs/ck-libs/ampi/ampi_funcptr_shim.C
  src/libs/ck-libs/ampi/ampi_funcptr_shim_fmpimain.C
  src/libs/ck-libs/ampi/ampi_funcptr_shim_main.C
  src/libs/ck-libs/ampi/ampi_functions.h
  src/libs/ck-libs/ampi/ampi_globals_fs.C
  src/libs/ck-libs/ampi/ampi_globals_pip.C
  src/libs/ck-libs/ampi/ampiimpl.h
  src/scripts/charmc
  src/scripts/configure.ac
  src/scripts/conv-config.sh
  tests/ampi/privatization/Makefile
Labels: AMPI

#2915 cmake: add missing everylb dependency
  src/ck-core/CMakeLists.txt
Labels: CMake

#2916 cmake: romio improvements
  src/libs/ck-libs/ampi/CMakeLists.txt
  src/libs/ck-libs/ampi/ampi.h
  src/libs/ck-libs/ampi/ampiCC
  src/libs/ck-libs/ampi/romio/configure
Labels: AMPI, CMake

#2918 cmake: add conv-mach-smp for gni/persistent
  CMakeLists.txt
  buildcmake
Labels: CMake

#2921 cmake: fix pami/pamilrts builds
  CMakeLists.txt
Labels: CMake

#2925 build: fix test-charm target
  cmake/Makefile.tests
  src/scripts/Makefile
Labels: Build & test automation

#2927 cmake: restore --help option
  buildcmake
Labels: CMake

#2928 cmake: add ooc option and fix ooc build
  CMakeLists.txt
  buildcmake
  src/ck-core/cklocation.C
Labels: CMake
