Repository charmplusplus/charm, pull requests merged in 2020-05, with the labels that each got.

#2625 build: switch to cmake build by default
  .circleci/config.yml
  .github/workflows/buildold.yml
  .github/workflows/ucx.yml
  .github/workflows/uth.yml
  .travis.yml
  CMakeLists.txt
  build
  buildcmake
  buildold
  cmake/README.md
  cmake/detect-features-c.cmake
  cmake/detect-features-cxx.cmake
  cmake/detect-features-fortran.cmake
  cmake/detect-features.cmake
  src/ck-pics/CMakeLists.txt
  src/conv-core/CMakeLists.txt
  src/libs/ck-libs/ampi/CMakeLists.txt
  src/xlat-i/CMakeLists.txt
Labels: Build & test automation, CMake

#2841 cmake: support compiler versions for gcc/clang
  buildcmake
Labels: CMake

#2843 cmake: clean up extra args parsing
  CMakeLists.txt
  cmake/README.md
Labels: CMake

#2845 cmake: fix fsglobals/pipglobals
  CMakeLists.txt
  cmake/detect-features.cmake
Labels: CMake

#2846 cmake: use RULE_LAUNCH_COMPILE instead of CMAKE_*_COMPILER_LAUNCHER
  CMakeLists.txt
  cmake/README.md
  doc/charm++/manual.rst
Labels: CMake

#2848 cmake: remove duplicate charmc for boost
  src/util/boost-context/CMakeLists.txt
Labels: CMake

#2847 cmake: add gni build
  CMakeLists.txt
  buildcmake
  cmake/detect-features-c.cmake
Labels: CMake

#2853 cmake: never run autoconf for hwloc
  CMakeLists.txt
Labels: CMake

#2856 cmake: never run autoconf for romio
  src/libs/ck-libs/ampi/CMakeLists.txt
Labels: CMake

#2855 cmake: add pxshm support
  CMakeLists.txt
  buildcmake
Labels: CMake

#2864 cmake: fixes for ChaNGa
  CMakeLists.txt
  cmake/ci-files.cmake
  cmake/detect-features.cmake
  src/conv-core/CMakeLists.txt
  src/libs/ck-libs/CMakeLists.txt
Labels: CMake

#2858 Fix UCX CI hang
  .github/workflows/ucx.yml
Labels: UCX

#2868 Fix Windows CI failure
  .travis.yml
Labels: CI

#2866 cmake: fix ROMIO flags+missing header
  CMakeLists.txt
  src/libs/ck-libs/ampi/CMakeLists.txt
Labels: CMake

#2870 cmake: improve support for shared libraries
  CMakeLists.txt
Labels: CMake

#2874 ampiCC: Accept arguments from environment variable
  src/libs/ck-libs/ampi/ampiCC
Labels: AMPI, ease of use

#2875 AMPI: Expand diagnostic information printed by privatization test
  tests/ampi/privatization/Makefile
  tests/ampi/privatization/test-cxx.C
  tests/ampi/privatization/test-f90-tlsglobals.f90
  tests/ampi/privatization/test-f90.f90
  tests/ampi/privatization/test.C
  tests/ampi/privatization/test.h
Labels: AMPI, Fortran

#2877 cmake: fix python detection for older cmake
  CMakeLists.txt
Labels: CMake

#2878 ampiCC: Handle OpenMPI's -showme parameter
  src/libs/ck-libs/ampi/ampiCC
  src/libs/ck-libs/ampi/ampif77
  src/libs/ck-libs/ampi/ampif90
Labels: AMPI, ease of use

#2876 AMPI: Expand testing of migration callbacks during privatization test
  tests/ampi/privatization/test-cxx.C
  tests/ampi/privatization/test-f90-tlsglobals.f90
  tests/ampi/privatization/test-f90.f90
Labels: AMPI, Fortran, migration

#2879 Fix CUDA hello example to offload kernels from all chares
  examples/charm++/cuda/hello/hello.C
Labels: GPU support

#2628 HAPI: Fix and update CUDA Callback based implementation
  src/arch/cuda/hybridAPI/hapi_impl.cpp
Labels: GPU support

#2881 cmake: add extra verbose mode
  buildcmake
Labels: CMake

#2884 cmake: honor selected compiler version
  CMakeLists.txt
Labels: CMake

#2891 cmake: remove duplicate 'v' in version number
  src/conv-core/CMakeLists.txt
Labels: CMake
