Repository charmplusplus/charm, pull requests merged in 2020-04, with the labels that each got.

#2789 Support IBM Power architecture with UCX
  src/arch/ucx-linux-ppc/cc-gcc.h
  src/arch/ucx-linux-ppc/cc-gcc.sh
  src/arch/ucx-linux-ppc/cc-xlc.h
  src/arch/ucx-linux-ppc/cc-xlc.sh
  src/arch/ucx-linux-ppc/conv-mach-ompipmix.h
  src/arch/ucx-linux-ppc/conv-mach-ompipmix.sh
  src/arch/ucx-linux-ppc/conv-mach-smp.h
  src/arch/ucx-linux-ppc/conv-mach-smp.sh
  src/arch/ucx-linux-ppc/conv-mach.h
  src/arch/ucx-linux-ppc/conv-mach.sh
  src/arch/ucx-linux-ppc64le/vdir_link
Labels: UCX

#2802 cdash/ctest: Fix test directories on Windows
  cdash/CTestTestfile.cmake
Labels: Build & test automation, Windows

#2806 Doc: Add note about checkpoint subdirectories
  doc/charm++/manual.rst
Labels: documentation

#2783 UCX CI: add tmate session for debugging
  .github/workflows/ucx.yml
Labels: CI, UCX

#2823 AMPI: Fix retrieval of builtin attributes
  src/libs/ck-libs/ampi/ampi.C
Labels: AMPI
