Repository charmplusplus/charm, pull requests merged in 2020-07, with the labels that each got.

#2896 Intra-node GPU messaging #1: Add DeviceManager, buddy allocator and CUDA IPC
  src/arch/common/conv-mach-cuda.sh
  src/arch/common/special.sh
  src/arch/cuda/hybridAPI/Makefile
  src/arch/cuda/hybridAPI/buddy_allocator.cpp
  src/arch/cuda/hybridAPI/buddy_allocator.h
  src/arch/cuda/hybridAPI/devicemanager.h
  src/arch/cuda/hybridAPI/gpumanager.h
  src/arch/cuda/hybridAPI/hapi_impl.cpp
  src/arch/cuda/hybridAPI/hapi_impl.h
  src/ck-core/init.C
Labels: GPU support

#2933 AMPI: Temporarily disable formatted print statements in privatization test
  tests/ampi/privatization/test-f90-tlsglobals.f90
  tests/ampi/privatization/test-f90.f90
Labels: AMPI, Build & test automation, Fortran, migration

#2939 Fix syncft autobuilds
  benchmarks/Makefile
  cmake/Makefile.tests
  examples/Makefile
  src/scripts/Makefile
  tests/Makefile
  tests/ampi/privatization/test.C
Labels: Build & test automation, CMake, fault tolerance

#2940 CI: Add CUDA
  .github/workflows/cuda.yml
  examples/ampi/cuda/Makefile
  examples/charm++/cuda/Makefile
  examples/charm++/cuda/hello/hello.C
  examples/charm++/cuda/qdtest/qdtest.C
  src/arch/cuda/hybridAPI/hapi_impl.cpp
Labels: CI, GPU support

#2937 Reactivate Converse tests with CUDA builds
  benchmarks/Makefile
  examples/Makefile
  tests/Makefile
Labels: Build & test automation, Converse, GPU support

#2935 charm4py: cleanups
  CMakeLists.txt
  README.charm4py
  buildcmake
  buildold
  src/arch/netlrts/machine.C
  src/ck-core/charm++.h
  src/ck-core/charm.h
  src/ck-core/ck.C
  src/ck-core/ckarray.C
  src/ck-core/ckarray.h
  src/ck-core/ckcallback.C
  src/ck-core/ckcallback.h
  src/ck-core/cklocation.h
  src/ck-core/ckreduction.C
  src/ck-core/ckreduction.h
  src/ck-core/init.C
  src/ck-core/register.C
  src/ck-perf/trace-common.C
  src/scripts/Makefile
  src/scripts/configure.ac
  src/util/charmrun-src/charmrun.C
Labels: CMake, Charm4py, cleanup

#2934 cmake: fix charm4py build
  CMakeLists.txt
  src/scripts/Makefile
Labels: CMake, Charm4py, load balancing

#2936 CI: add charm4py test
  .github/workflows/charm4py.yml
Labels: CI, Charm4py

#2949 cmake: remove warning regarding CheckIncludeFile
  CMakeLists.txt
Labels: CMake

#2951 CI: add shellcheck test and fix several scripts
  .github/workflows/shellcheck.yml
  buildcmake
  package-tarball.sh
  relink.script
  src/arch/mpi-win-x86_64/charmrun
  src/arch/multicore/charmrun
  src/arch/sim/charmrun
  src/arch/uth/charmrun
  src/scripts/commitid.sh
  src/scripts/testrun
Labels: CI

#2901 Intra-node GPU messaging #2: Additions to Converse and Charm++ layer RDMA
  src/arch/common/conv-mach-common.h
  src/arch/gni/conv-common.h
  src/arch/gni/conv-mach-syncft.h
  src/arch/mpi/conv-common.h
  src/arch/mpi/conv-mach-syncft.h
  src/arch/netlrts/conv-common.h
  src/arch/ofi/conv-common.h
  src/arch/pamilrts/conv-common.h
  src/arch/ucx/conv-common.h
  src/arch/uth/conv-common.h
  src/arch/verbs/conv-common.h
  src/arch/verbs/conv-mach-syncft.h
  src/ck-core/CMakeLists.txt
  src/ck-core/charm++.h
  src/ck-core/ckrdmadevice.C
  src/ck-core/ckrdmadevice.h
  src/conv-core/CMakeLists.txt
  src/conv-core/conv-rdma.h
  src/conv-core/conv-rdmadevice.C
  src/conv-core/conv-rdmadevice.h
  src/conv-core/converse.h
  src/scripts/Makefile
Labels: GPU support

#2960 AMPI examples: Add a testp target for scalable testing on P pes
  examples/Makefile
  examples/ampi/Cjacobi3D/Makefile
  examples/ampi/Makefile
  examples/ampi/creduce/Makefile
Labels: AMPI

#2959 cmake: better config info
  CMakeLists.txt
Labels: CMake

#2967 ci: add multicore-darwin with tracing test
  .github/workflows/multicore_darwin.yml
Labels: CI

#2903 Intra-node GPU messaging #3: Updates to charmxi
  src/xlat-i/sdag/CEntry.C
  src/xlat-i/sdag/CSdagConstruct.C
  src/xlat-i/sdag/CStateVar.C
  src/xlat-i/sdag/CStateVar.h
  src/xlat-i/xi-Entry.C
  src/xlat-i/xi-Entry.h
  src/xlat-i/xi-Parameter.C
  src/xlat-i/xi-Parameter.h
  src/xlat-i/xi-grammar.tab.C
  src/xlat-i/xi-grammar.tab.h
  src/xlat-i/xi-grammar.y
  src/xlat-i/xi-scan.C
  src/xlat-i/xi-scan.l
Labels: GPU support, charmxi

#2904 Intra-node GPU messaging #4: Add example programs and CI file syntax highlighting
  benchmarks/charm++/cuda/Makefile
  benchmarks/charm++/cuda/gpudirect/Makefile
  benchmarks/charm++/cuda/gpudirect/pingpong/Makefile
  benchmarks/charm++/cuda/gpudirect/pingpong/pingpong.C
  benchmarks/charm++/cuda/gpudirect/pingpong/pingpong.ci
  benchmarks/charm++/cuda/gpudirect/pingpong/pingpong.cu
  contrib/ci.vim
  examples/charm++/cuda/gpudirect/jacobi2d/Makefile
  examples/charm++/cuda/gpudirect/jacobi2d/jacobi2d.C
  examples/charm++/cuda/gpudirect/jacobi2d/jacobi2d.ci
  examples/charm++/cuda/gpudirect/jacobi2d/jacobi2d.cu
  examples/charm++/cuda/gpudirect/jacobi2d/scripts/lassen/inter-process.sh
  examples/charm++/cuda/gpudirect/jacobi2d/scripts/lassen/intra-process.sh
  examples/charm++/cuda/gpudirect/sdag/Makefile
  examples/charm++/cuda/gpudirect/sdag/sdag.C
  examples/charm++/cuda/gpudirect/sdag/sdag.ci
  examples/charm++/cuda/gpudirect/sdag/sdag.cu
  examples/charm++/cuda/gpudirect/verify/Makefile
  examples/charm++/cuda/gpudirect/verify/verify.C
  examples/charm++/cuda/gpudirect/verify/verify.ci
  examples/charm++/cuda/gpudirect/verify/verify.cu
Labels: GPU support

#2968 Autobuild on Github
  .github/workflows/autobuild.yml
Labels: Autobuild

#2978 ci: test all sts files
  .github/workflows/multicore_darwin.yml
Labels: CI, tracing

#2957 AMPI Tests: Add a testp target for scalable testing on P pes
  tests/ampi/Makefile
  tests/ampi/intercomm_coll/Makefile
  tests/ampi/megampi/Makefile
  tests/ampi/migration/Makefile
  tests/ampi/privatization/Makefile
  tests/ampi/stacksize/Makefile
Labels: AMPI

#2983 cmake #2982: Enable tracing by default when in non-production mode
  CMakeLists.txt
  buildcmake
Labels: CMake

#2981 github-autobuild: change to build once a day
  .github/workflows/autobuild.yml
Labels: Autobuild

#2985 CI: Use UCX v1.8.1
  .github/workflows/ucx.yml
Labels: CI, UCX

#2950 AMPI Benchmarks: Cleanup and add untested tests
  benchmarks/ampi/Makefile
  benchmarks/ampi/alltoall/Makefile
  benchmarks/ampi/alltoall/allgather.c
  benchmarks/ampi/alltoall/alltoall.c
  benchmarks/ampi/alltoall/alltoall_VPtest.c
  benchmarks/ampi/alltoall/mpibench.c
  benchmarks/ampi/isomalloc/Makefile
  benchmarks/ampi/isomalloc/test.C
  benchmarks/ampi/onesided/GetPutTest.C
  benchmarks/ampi/onesided/IgetTest.C
  benchmarks/ampi/pingpong/pingpong-1way.c
  benchmarks/ampi/pingpong/pingpong-2way.c
  benchmarks/ampi/pingpong/pingpong-cachemiss.c
  benchmarks/ampi/pingpong/pingpong-pipeline.c
  benchmarks/ampi/speed/Makefile
  benchmarks/ampi/speed/hello.C
  benchmarks/ampi/speed/hello.ci
  benchmarks/ampi/speed/msgspeed.c
  benchmarks/ampi/speed/msgspeed.h
  benchmarks/ampi/speed/standalone_mpi.c
  benchmarks/ampi/speed/test_mpi.c
  src/libs/ck-libs/ampi/mpich-alltoall.C
Labels: AMPI

#2993 TRAM: Change test to use 2 PEs to avoid hang on UCX
  tests/charm++/varTRAM/Makefile
Labels: TRAM, UCX

#2984 TRAM: Restore support for chare groups
  examples/charm++/TRAM/Makefile
  src/libs/ck-libs/NDMeshStreamer/NDMeshStreamer.ci
  src/libs/ck-libs/NDMeshStreamer/NDMeshStreamer.h
Labels: TRAM

#2885 cmake: enable windows build
  .travis.yml
  CMakeLists.txt
  benchmarks/ampi/Makefile
  benchmarks/ampi/alltoall/allgather.c
  benchmarks/ampi/alltoall/alltoall.c
  benchmarks/ampi/alltoall/alltoall_VPtest.c
  benchmarks/ampi/alltoall/mpibench.c
  buildcmake
  buildold
  cmake/detect-features-c.cmake
  cmake/detect-features.cmake
  examples/Makefile
  src/QuickThreads/CMakeLists.txt
  src/arch/win/travis.sh
  src/arch/win/unix2nt_cc
  src/ck-core/CMakeLists.txt
  src/conv-core/CMakeLists.txt
  src/scripts/charmc
  src/util/boost-context/CMakeLists.txt
  src/util/charmrun-src/charmrun.C
Labels: CMake, Windows

#2995 cmake: error checking by default when non-production mode
  CMakeLists.txt
  buildcmake
Labels: CMake

#2996 cmake: fix version check for 3.11
  CMakeLists.txt
Labels: CMake

#2979 cmake: implement all-test
  .circleci/config.yml
  .github/workflows/autobuild.yml
  .github/workflows/buildold.yml
  .github/workflows/multicore_darwin.yml
  .github/workflows/ucx.yml
  .github/workflows/uth.yml
  .github/workflows/verbs.yml
  .travis.yml
  CMakeLists.txt
Labels: CMake

#2994 cmake: add amr
  src/libs/ck-libs/CMakeLists.txt
Labels: CMake

#2997 cmake: add pythonccs
  CMakeLists.txt
  src/libs/ck-libs/CMakeLists.txt
Labels: CMake
