Repository charmplusplus/charm, pull requests merged in 2020-10, with the labels that each got.

#3074 change discourse to github discussions
  doc/index.rst
Labels: documentation

#3070 AMPI: Clean up built-in attributes
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampiOneSided.C
  src/libs/ck-libs/ampi/ampif.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#3082 doc: change mailing list references to github
  README.md
  buildold
  doc/faq/manual.rst
  doc/index.rst
Labels: documentation

#3078 Tracing: Add Charm++ version to Projections logs
  src/ck-perf/trace-common.C
Labels: tracing

#3091 Update GPU section in FAQ
  doc/faq/manual.rst
Labels: documentation

#3083 AMPI: Remove NOIMPL declarations of MPI_File symbols provided by ROMIO
  src/libs/ck-libs/ampi/ampi.h
  src/libs/ck-libs/ampi/ampi_functions.h
Labels: AMPI

#3088 run docs through CI
  .github/workflows/doc.yml
  doc/Makefile
  doc/charm++/manual.rst
  doc/conf.py
  doc/license.rst
Labels: CI, documentation

#3087 doc: cleanup URLs in manual
  CITATION.cff
  buildold
  doc/ampi/manual.rst
  doc/faq/manual.rst
  doc/index.rst
  doc/projections/manual.rst
Labels: documentation

#3057 Doc: Remove batsyncer info from FAQ
  doc/faq/manual.rst
Labels: documentation, load balancing

#3100 romio: do not build MPI_Type_size_x and MPI_Status_set_elements_x
  src/libs/ck-libs/ampi/romio/README.AMPI
  src/libs/ck-libs/ampi/romio/mpi-io/glue/large_count.c
Labels: AMPI

#3103 AMPI: Fix linking privatized user objects when passed -build-shared
  src/libs/ck-libs/ampi/ampiCC
  src/scripts/charmc
  tests/ampi/privatization/Makefile
Labels: AMPI

#3109 AMPI: fix compile errors in alltoall_VPtest
  benchmarks/ampi/alltoall/alltoall_VPtest.c
Labels: AMPI

#3111 cmake: use extended C++11 standard by default
  CMakeLists.txt
Labels: CMake

#3102 CI: test build-shared
  .github/workflows/verbs.yml
  .travis.yml
Labels: CI

#3130 Metis: various build fixes
  src/ck-core/CMakeLists.txt
  src/libs/ck-libs/metis/libmetis/CMakeLists.txt
Labels: CMake

#3137 CI: Test packaging tarball on Verbs buildonly
  .github/workflows/verbs.yml
Labels: Build & test automation

#3052 Update GPU messaging benchmarks
  benchmarks/charm++/cuda/gpudirect/Makefile
  benchmarks/charm++/cuda/gpudirect/bandwidth/Makefile
  benchmarks/charm++/cuda/gpudirect/bandwidth/bandwidth.C
  benchmarks/charm++/cuda/gpudirect/bandwidth/bandwidth.ci
  benchmarks/charm++/cuda/gpudirect/latency/Makefile
  benchmarks/charm++/cuda/gpudirect/latency/latency.C
  benchmarks/charm++/cuda/gpudirect/latency/latency.ci
  benchmarks/charm++/cuda/gpudirect/pingpong/pingpong.C
  benchmarks/charm++/cuda/gpudirect/pingpong/pingpong.ci
  benchmarks/charm++/cuda/gpudirect/pingpong/pingpong.cu
  src/ck-core/ckrdmadevice.C
Labels: GPU support

#3112 build: clean up the VERSION file
  .gitignore
  CHANGES
  CMakeLists.txt
  buildold
  cdash/CTestTestfile.cmake
  package-tarball.sh
  relink.script
  src/ck-core/charm-api.h
  src/conv-core/CMakeLists.txt
  src/scripts/Makefile
  src/scripts/charmc
  src/scripts/commitid.sh
  src/scripts/configure.ac
Labels: CMake

#3140 LB #3131: Show pluggable TreeLB strategies in help message
  src/ck-ldb/LBManager.C
  src/ck-ldb/LBManager.h
  src/ck-ldb/TreeLB.C
  src/ck-ldb/TreeLevel.h
  src/ck-ldb/TreeStrategyFactory.h
Labels: load balancing

#3110 cmake: passthrough $CC $CXX $FC for compiler selection
  .travis.yml
  buildcmake
Labels: CMake
