Repository charmplusplus/charm, pull requests merged in 2020-08, with the labels that each got.

#3009 buildcmake: Redirect CUDA builds to buildold
  .github/workflows/cuda.yml
  buildcmake
Labels: CMake, GPU support

#3008 Documentation: Move and augment text for GPU support
  doc/charm++/manual.rst
  doc/libraries/manual.rst
Labels: GPU support, documentation

#3011 Documentation: Small fixes to GPU support
  doc/charm++/manual.rst
Labels: GPU support, documentation

#2971 AMPI: Improve ampirun's argument parsing
  src/libs/ck-libs/ampi/ampirun
Labels: AMPI

#3007 Intra-node GPU messaging: Clean up stray shared memory file at init, add +gpushm option
  src/arch/cuda/hybridAPI/gpumanager.h
  src/arch/cuda/hybridAPI/hapi_impl.cpp
  src/ck-core/ckrdmadevice.C
Labels: GPU support

#3015 Copy TreeLB decision messages when going out of process
  src/ck-ldb/TreeBuilder.h
  src/ck-ldb/TreeLB.C
  src/ck-ldb/TreeLB.h
  src/ck-ldb/TreeLevel.h
Labels: Bug, load balancing, smp

#3019 Fix crashes in commbench/ctxt affecting clang and UCX autobuilds
  benchmarks/converse/commbench/ctxt.c
Labels: Bug, Build & test automation, UCX

#2946 Clean up Fortran build targets
  CMakeLists.txt
  examples/charm++/Makefile
  examples/charm++/f90charm/Makefile
  examples/charm++/f90charm/hello/Makefile
  examples/charm++/f90charm/hello2D/Makefile
  examples/charm++/f90charm/ldbDemo/Makefile
  examples/charm++/f90charm/ldbRedDemo/Makefile
  examples/charm++/f90charm/sdag-case/Makefile
  src/ck-core/CMakeLists.txt
  src/ck-perf/CMakeLists.txt
  src/conv-core/CMakeLists.txt
  src/libs/ck-libs/ampi/CMakeLists.txt
  src/libs/ck-libs/ampi/Makefile
  src/scripts/Makefile
  src/scripts/configure.ac
  src/util/CMakeLists.txt
  tests/ampi/Makefile
  tests/ampi/fallreduce/Makefile
  tests/ampi/privatization/Makefile
  tests/fem/femtest/Makefile
  tests/fem/megafem/Makefile
Labels: AMPI, CMake, Fortran

#3017 Update hapiPoolMalloc to match signature of cudaMallocHost
  examples/charm++/cuda/matmul/matmul.C
  examples/charm++/cuda/vecadd/vecadd.C
  src/arch/cuda/hybridAPI/README.txt
  src/arch/cuda/hybridAPI/hapi.h
  src/arch/cuda/hybridAPI/hapi_functions.h
  src/arch/cuda/hybridAPI/hapi_impl.cpp
Labels: GPU support

#3020 buildcmake: Temporarily redirect mpi-win to ./buildold
  buildcmake
Labels: CMake

#3034 cmake: enable cuda build
  .github/workflows/cuda.yml
  CMakeLists.txt
  buildcmake
Labels: CMake, GPU support

#3037 cmake: option updates
  CMakeLists.txt
  buildcmake
Labels: CMake

#2970 Add support for sequencing multiple LBs to LBManager
  src/ck-ldb/BaseLB.h
  src/ck-ldb/LBManager.C
  src/ck-ldb/LBManager.h
  src/ck-ldb/TreeLB.C
Labels: load balancing
