Repository charmplusplus/charm, pull requests merged in 2020-03, with the labels that each got.

#2742 AMPI: fix MPI_Waitsome by creating valid requests for eager msgs
  src/libs/ck-libs/ampi/ampi.C
Labels: AMPI

#2750 Add third type of save variable to Fortran privatization test
  tests/ampi/privatization/test-f90-tlsglobals.f90
  tests/ampi/privatization/test-f90.f90
Labels: AMPI

#2751 Fix tlsglobals migration on macOS
  src/conv-core/threads.C
  src/util/cmitls.C
  src/util/cmitls.h
Labels: AMPI, macOS

#2736 AMPI: Implement proper context activation for migration callbacks
  src/conv-core/converse.h
  src/conv-core/threads.C
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampi.ci
  src/libs/ck-libs/ampi/ampiimpl.h
  src/libs/ck-libs/tcharm/tcharm.C
  src/libs/ck-libs/tcharm/tcharm_impl.h
  tests/ampi/privatization/test-cxx.C
  tests/ampi/privatization/test-f90-tlsglobals.f90
  tests/ampi/privatization/test-f90.f90
  tests/ampi/privatization/test.C
  tests/ampi/privatization/test.h
Labels: AMPI

#2755 Remove thread_local with constructor from cmitls.C
  src/util/cmitls.C
Labels: AMPI

#2744 Clean up CmiMemoryAtomic and CMK_PCQUEUE_LOCK
  src/arch/gni/conv-mach-smp.h
  src/arch/mpi-bluegeneq/conv-mach-smp.h
  src/arch/mpi-win64/conv-mach.h
  src/arch/multicore-darwin-x86_64/conv-mach.h
  src/arch/multicore-win64/conv-mach.h
  src/arch/pami-bluegeneq/conv-mach-smp.h
  src/arch/pami-linux-ppc64le/conv-mach-smp.h
  src/arch/pamilrts-bluegeneq/conv-mach-smp.h
  src/arch/pamilrts-linux-ppc64le/conv-mach-smp.h
  src/arch/util/machine-common-core.C
  src/arch/util/machine-smp.C
  src/arch/util/pcqueue.h
  src/ck-core/init.C
  src/conv-core/convcore.C
  src/conv-core/converse.h
  src/conv-core/threads.C
  src/libs/conv-libs/openmp_llvm/runtime/src/kmp_runtime.cpp
Labels: Windows, cleanup, smp

#2756 AMPI: first pass of AMPI-only build optimizations
  build
  buildcmake
Labels: AMPI

#2759 AMPI: increase objid collection bits for AMPI-only builds
  build
  buildcmake
Labels: AMPI

#2776 AMPI manual: de-footnotize
  doc/ampi/manual.rst
Labels: AMPI

#2778 charmc: make sure to link against pthread when using CkLoop
  src/scripts/charmc
Labels: charmc

#2767 Restructure HAPI, fix crash when # of PEs < # of GPU devices
  src/arch/cuda/hybridAPI/gpumanager.h
  src/arch/cuda/hybridAPI/hapi_impl.cpp
  src/arch/cuda/hybridAPI/hapi_impl.h
  src/ck-core/init.C
  src/conv-core/convcore.C
Labels: GPU support

#2784 Ensure a PE that is initially underloaded never tries to transfer load.
  src/ck-ldb/DistributedLB.C
  src/ck-ldb/DistributedLB.h
Labels: load balancing

#2782 Github CI: Use v1.7.0 of UCX
  .github/workflows/ucx.yml
Labels: CI, UCX
