Repository charmplusplus/charm, pull requests merged in 2021-02, with the labels that each got.

#3279 Revert "buildcmake: Use -cpmod to copy Fortran .mod files (#3159)"
  cmake/converse.cmake
  src/ck-core/CMakeLists.txt
  src/ck-perf/CMakeLists.txt
  src/libs/ck-libs/ampi/CMakeLists.txt
Labels: CMake, Fortran

#2963 Add new simple array map that reads mapping from file
  src/ck-core/cklocation.C
  src/ck-core/cklocation.ci
  src/libs/ck-libs/tcharm/tcharm.C
  tests/ampi/migration/Makefile
  tests/ampi/migration/mapfile
  tests/ampi/migration/test.C
Labels: AMPI

#3288 remove mpi-linux-mips64 target
  CHANGES
  src/arch/mpi-linux-mips64/conv-mach-smp.h
  src/arch/mpi-linux-mips64/conv-mach-smp.sh
  src/arch/mpi-linux-mips64/conv-mach.h
  src/arch/mpi-linux-mips64/conv-mach.sh
Labels: cleanup

#3292 cmake: fix lockless build
  buildcmake
Labels: CMake

#3243 Doc #3139: Clarify LB, checkpoint docs
  doc/charm++/manual.rst
Labels: checkpoint/restart, documentation, load balancing

#3269 Replace PUPed raw arrays in src/ck-ldb/ with std::vector
  src/ck-core/ckmemcheckpoint.C
  src/ck-ldb/CentralLB.C
  src/ck-ldb/CentralLB.h
  src/ck-ldb/DistBaseLB.C
  src/ck-ldb/DistBaseLB.h
  src/ck-ldb/DistributedLB.C
  src/ck-ldb/HybridBaseLB.C
  src/ck-ldb/LBManager.C
  src/ck-ldb/LBManager.h
  src/ck-ldb/lbdb.h
  src/libs/ck-libs/liveViz3d/lv3d0_server.C
Labels: cleanup

#3294 AMPI: Avoid pooling messages tagged as broadcast
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI
