Repository charmplusplus/charm, pull requests merged in 2021-05, with the labels that each got.

#3333 cmake: allow adding extra opts to end of triplet
  buildcmake
Labels: CMake

#3340 LB: Add PUP to TreeLB
  src/ck-ldb/TreeLB.C
  src/ck-ldb/TreeLB.h
  tests/charm++/chkpt/Makefile
  tests/charm++/chkpt/hello.C
Labels: Bug, checkpoint/restart, load balancing

#3354 cmake: make sure to pass full args to buildold
  buildcmake
Labels: CMake

#3355 Anytime migrations
  src/ck-core/ckarray.h
Labels: migration

#3369 Only call _IO_file_overflow on rank 0
  src/conv-core/convcore.C
Labels: AMPI, Converse

#3372 cmake: clearer error on incorrect triplet
  buildcmake
Labels: CMake
