Repository charmplusplus/charm, pull requests merged in 2021-08, with the labels that each got.

#3440 Tracing: Don't write SMPMODE when not in SMP mode
  src/ck-perf/trace-common.C
Labels: Bug, tracing

#3446 AMPI: Reorganize privatization test
  tests/ampi/privatization/Makefile
  tests/ampi/privatization/framework.C
  tests/ampi/privatization/framework.h
  tests/ampi/privatization/other-object.C
  tests/ampi/privatization/shared-library-dynamic.C
  tests/ampi/privatization/shared-library.C
  tests/ampi/privatization/static-library.C
  tests/ampi/privatization/test-cxx.C
  tests/ampi/privatization/test-cxx.h
  tests/ampi/privatization/test-tlsglobals.f90
  tests/ampi/privatization/test.C
  tests/ampi/privatization/test.f90
  tests/ampi/privatization/test.h
  tests/ampi/privatization/vars-dynamic.C
  tests/ampi/privatization/vars-shared.C
  tests/ampi/privatization/vars-static.C
Labels: AMPI

#3456 Avoid hang on exit with user-driven interop
  src/arch/util/machine-common-core.C
Labels: mpi interoperability, smp, Converse

#3461 fix cmake fortran check for CMK_FORTRAN_USES_NOSCORE and fix XLC
  CMakeLists.txt
  cmake/detect-features-fortran.cmake
  src/arch/common/cc-xlc64.sh
  src/arch/multicore-linux-ppc64le/cc-xlc64.sh
Labels: CMake, XLC

#3467 OFI: Change return type of registerDirectMemory to void
  src/arch/ofi/machine-onesided.C
Labels: OFI
