Repository charmplusplus/charm, pull requests merged in 2021-03, with the labels that each got.

#3297 AMPI: Document that attribute pointers become invalid after migration
  doc/ampi/04-extensions.rst
  tests/ampi/megampi/test.C
Labels: AMPI

#3301 CI: Remove Python 2 test for charm4py
  .github/workflows/charm4py.yml
Labels: CI, Charm4py

#3304 Support runtime parameters for IB verbs machine layer
  src/arch/verbs/machine-ibverbs.C
Labels: Verbs

#3282 Avoid retesting for CMK_BALANCED_INJECTION_API during every partial rebuild
  cmake/detect-features-c.cmake
  src/util/ckBIconfig.h
Labels: CMake, GNI

#3306 CI: Update Visual Studio TOOLVER to 14.28.29910
  src/arch/win/vsenv.sh
Labels: CI, Windows

#3271 AMPI: Fix logic errors in communicator creation
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampi.ci
  src/libs/ck-libs/ampi/ampiimpl.h
  src/libs/ck-libs/tcharm/tcharm.C
Labels: AMPI

#3310 AMPI: Add attribute AMPI_MY_HOME_WTH
  doc/ampi/04-extensions.rst
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampi.h
  src/libs/ck-libs/ampi/ampif.h
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#3231 Extend Future Capabilities with Wait All/Some/Any
  doc/charm++/manual.rst
  examples/charm++/future/fib.C
  examples/charm++/future/fib.ci
  src/ck-core/ckfutures.C
  src/ck-core/ckfutures.h
Labels: enhancement

#3314 Doc: Fix "-tracemode summary" option description
  doc/charm++/manual.rst
  doc/projections/manual.rst
Labels: documentation, tracing

#3308 AMPI: Use a future during communicator creation
  src/libs/ck-libs/ampi/ampi.C
Labels: AMPI

#3316 CI: fix spack
  .github/workflows/spack.yml
Labels: CI

#3315 AMPI: expose msg pool size parameters to users
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#3237 Tracing: Mark phase boundary when PE reaches AtSync barrier
  src/ck-core/cksyncbarrier.C
Labels: tracing
