Repository charmplusplus/charm, pull requests merged in 2021-04, with the labels that each got.

#3318 charmc: fix dependency generation with -MD
  CMakeLists.txt
  src/scripts/charmc
Labels: CMake, charmc

#3320 AMPI: Improve MPI-level trace printing
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampiOneSided.C
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#3321 Fix syncft build in cklocation.C
  src/ck-core/cklocation.C
Labels: fault tolerance

#3322 CI: Add SyncFT
  .github/workflows/syncft_mpi.yml
  .github/workflows/syncft_netlrts.yml
Labels: CI, fault tolerance

#3324 AMPI: Avoid fs/pip link failures on ICC
  src/scripts/charmc
Labels: AMPI

#3326 AMPI: Fix ROMIO build failure without Fortran
  src/libs/ck-libs/ampi/Makefile
Labels: AMPI, Fortran

#3327 CI: Modify NAMD test to run without Fortran
  .github/workflows/namd.yml
Labels: CI, Fortran

#3328 AMPI: Replace CkCallbackResumeThread with futures in ampiInit
  src/libs/ck-libs/ampi/ampi.C
Labels: AMPI

#3251 LB: Fix SetLBPeriod, GetLBPeriod
  doc/charm++/manual.rst
  src/ck-ldb/LBManager.C
  src/ck-ldb/LBManager.h
Labels: Bug, load balancing

#3330 Make support for +p, ++p, +n, ++n, ++np consistent for all Charmruns
  src/arch/gni/charmrun
  src/arch/mpi-win-x86_64/charmrun
  src/arch/mpi/charmrun
  src/arch/multicore/charmrun
  src/arch/ofi/charmrun
  src/arch/pami-linux-ppc64le/charmrun
  src/arch/pamilrts-linux-ppc64le/charmrun
  src/arch/ucx/charmrun
  src/util/charmrun-src/charmrun.C
Labels: provisioning

#3334 AMPI: Compile Fortran shim objects as shared
  src/libs/ck-libs/ampi/CMakeLists.txt
  src/libs/ck-libs/ampi/Makefile
  src/libs/ck-libs/ampi/ampiCC
Labels: AMPI, Fortran, Intel compiler

#3335 AMPI: Build globals shared objects with charmc's sequential flag
  src/libs/ck-libs/ampi/ampiCC
  src/scripts/charmc
Labels: AMPI

#3339 LB: Resume immediately when no strategy has been selected
  src/ck-ldb/LBManager.C
Labels: Bug, load balancing

#3342 LB: Fix incorrect assert when gathering comm data
  src/ck-ldb/CentralLB.C
Labels: Bug, load balancing

#3341 AMPI: refactor internal communicator mgmt and storage
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ampi.ci
  src/libs/ck-libs/ampi/ampi.h
  src/libs/ck-libs/ampi/ampiOneSided.C
  src/libs/ck-libs/ampi/ampif.h
  src/libs/ck-libs/ampi/ampiimpl.h
Labels: AMPI

#3343 LB: Fix MetisLB crash when there are no edges
  src/ck-ldb/MetisLB.C
Labels: Bug, load balancing

#3226 Enable CkPointer to PUP Any PUP'able Pointer
  examples/charm++/PUP/STLPUP/SimplePUP.C
  examples/charm++/PUP/STLPUP/SimplePUP.ci
  examples/charm++/PUP/STLPUP/SimplePUP.h
  src/util/pup.h
  src/util/pup_stl.h
Labels: enhancement

#3344 charmc: Clean up linker argument handling
  src/scripts/charmc
Labels: AMPI, Intel compiler, charmc

#3332 cmake: honor arch in triplet
  CMakeLists.txt
  buildcmake
  src/QuickThreads/CMakeLists.txt
Labels: CMake

#3346 AMPI: Fix MPI_IN_PLACE in Fortran
  src/libs/ck-libs/ampi/ampif.C
  src/libs/ck-libs/ampi/ampif.h
Labels: AMPI, Fortran

#3349 cmake: enable x86_64 -> i386 cross-compilation
  CMakeLists.txt
Labels: CMake

#3348 AMPI: clean up debug print statements
  src/libs/ck-libs/ampi/ampi.C
  src/libs/ck-libs/ampi/ddt.h
Labels: AMPI
