Repository charmplusplus/charm, pull requests merged in 2022-03, with the labels that each got.

#3578 Allow Multiple System Libraries in Standalone Build
  CMakeLists.txt
Labels: CMake

#3580 Charmrun: Check if runscript argument is executable
  src/util/charmrun-src/charmrun.C
Labels: enhancement, ease of use

#3582 Fix detection of `offsetof` in Clang/ICX builds
  cmake/detect-features-c.cmake
Labels: CMake

#3581 Doc: Clarify how to use ++runscript
  doc/charm++/manual.rst
Labels: documentation

#3585 MPI layer: print MPI library version as well as standard version
  src/arch/mpi/machine.C
Labels: MPI layer
