Repository charmplusplus/charm, pull requests merged in 2022-06, with the labels that each got.

#3615 OFI: Print readable error string when polling fails
  src/arch/ofi/machine.C
Labels: OFI, ease of use

#3620 Tracing: Convert outside facing macros into functions
  src/ck-perf/trace.h
Labels: Bug, tracing

#3595 Cleanup: assume MPI_Init_thread support exists in MPI layer
  cmake/detect-features-c.cmake
  src/arch/mpi/machine.C
  src/scripts/configure.ac
Labels: cleanup, MPI layer

#3596 MPI: Allow enabling preposted receives with flag
  src/arch/mpi/machine.C
Labels: MPI layer

#3624 Doc: Specify docs are in English to Sphinx
  doc/conf.py
Labels: Bug, documentation

#3623 AMPI: turn AMPI_Migrate_to_pe off by default
  doc/ampi/04-extensions.rst
  src/libs/ck-libs/ampi/ampi.C
  tests/ampi/migration/Makefile
Labels: AMPI
