Repository charmplusplus/charm, pull requests merged in 2022-01, with the labels that each got.

#3545 Examples: Add MetisLB to load_balancing tests
  examples/charm++/load_balancing/kNeighbor/Makefile
  examples/charm++/load_balancing/stencil3d/Makefile
Labels: load balancing, CI

#3552 AMPI: declare ampiPeMgr group proxy as a readonly to fix chkpt/restart
  src/libs/ck-libs/ampi/ampi.ci
Labels: AMPI

#3554 AMPI: Privatize Fortran runtime libraries under globals methods
  src/libs/ck-libs/ampi/ampiCC
  src/scripts/charmc
Labels: AMPI, Fortran

#3553 AMPI: add chkpt test back to autobuild/CI testing
  tests/ampi/Makefile
  tests/ampi/chkpt/Makefile
Labels: AMPI

#3550 Use standard CMake package config helpers
  CMakeLists.txt
  cmake/templates/CharmConfig.cmake.in
Labels: CMake

#3560 CkIO: Use default stripe size if Lustre reports stripe size of 0
  src/libs/ck-libs/io/fs_parameters.c
Labels: Bug

#3558 Add support for ICX compiler instead of DPCPP
  CMakeLists.txt
  README.md
  buildcmake
  buildold
  src/arch/common/cc-icx.h
  src/arch/common/cc-icx.sh
Labels: CMake, Compiler

#3565 Support IntelLLVM for ICX builds with CMake version >= 3.20
  CMakeLists.txt
Labels: CMake, Compiler
