Repository charmplusplus/charm, pull requests merged in 2023-04, with the labels that each got.

#3703 Improve portability of `-Werror` build parameter
  src/arch/common/cc-clang.sh
  src/arch/common/cc-gcc.sh
  src/arch/common/cc-icc.sh
  src/arch/common/cc-iccstatic.sh
  src/arch/common/cc-icx.sh
  src/arch/common/cc-msvc.sh
  src/arch/mpi-linux-arm7/conv-mach.sh
  src/arch/mpi-linux-arm8/conv-mach.sh
  src/arch/multicore-linux-arm7/conv-mach.sh
  src/arch/multicore-linux-arm8/conv-mach.sh
  src/arch/netlrts-linux-arm7/conv-mach.sh
  src/arch/netlrts-linux-arm8/conv-mach.sh
  src/arch/netlrts-linux-ppc64le/conv-mach.sh
  src/arch/netlrts-linux-x86_64/conv-mach.sh
  src/arch/verbs-linux-ppc64le/conv-mach.sh
  src/arch/verbs-linux-x86_64/conv-mach.sh
  src/scripts/charmc
Labels: charmc

#3706 Cleanup: Remove more vestiges of Blue Gene
  CMakeLists.txt
  README.md
  benchmarks/charm++/streamingAllToAll/Makefile
  buildold
  doc/ampi/03-using.rst
  doc/charm++/manual.rst
  doc/projections/manual.rst
  examples/ampi/Cjacobi3D/bg_config
  examples/ampi/Cjacobi3D/jacobi-cpp.C
  examples/ampi/Cjacobi3D/jacobi-get.C
  examples/ampi/Cjacobi3D/jacobi.C
  examples/charm++/TRAM/Makefile
  examples/charm++/topology/matmul3d/Makefile
  src/arch/pami/machine.C
  src/arch/pamilrts/conv-mach-async.h
  src/arch/pamilrts/lrtsqueue.h
  src/arch/pamilrts/machine.C
  src/arch/util/cmiqueue.h
  src/ck-core/qd.C
  src/ck-perf/trace-controlPoints.C
  src/conv-core/convcore.C
  src/conv-core/converse.h
  src/libs/ck-libs/ckloop/CkLoop.C
  src/scripts/Makefile
  src/scripts/charmc
  src/scripts/configure.ac
  src/util/cmimemcpy.h
  src/util/cmimemcpy_qpx.c
  src/util/cmimemcpy_qpx.h
  src/util/topomanager/TopoManager.C
  src/util/topomanager/TopoManager.h
  src/xlat-i/sdag/CSdagConstruct.C
  tests/charm++/jacobi3d/jacobi3d.C
Labels: cleanup

#3709 Bashify conditionals in charmc, ampicc, charmrun, buildold
  build
  buildcmake
  buildold
  src/arch/gni/charmrun
  src/arch/mpi-win-x86_64/charmrun
  src/arch/mpi/charmrun
  src/arch/multicore/charmrun
  src/arch/ofi/charmrun
  src/arch/pami-linux-ppc64le/charmrun
  src/arch/pamilrts-linux-ppc64le/charmrun
  src/arch/ucx/charmrun
  src/arch/win/gatherflat.local
  src/arch/win/gathertree.local
  src/arch/win/system_ln
  src/libs/ck-libs/ampi/ampiCC
  src/libs/ck-libs/ampi/ampirun
  src/scripts/charmc
  src/scripts/gatherflat
  src/scripts/gathertree
  src/scripts/testrun
Labels: AMPI, Build & test automation, charmc, charmrun, Buildold

#3710 CMake: Condition memory-hooks-charmdebug on CMK_HAS_MALLOC_HOOK
  src/conv-core/CMakeLists.txt
Labels: CharmDebug, CMake

#3704 Implement CmiTLS for Apple Silicon
  cmake/detect-features-cxx.cmake
  cmake/detect-features.cmake
  doc/ampi/03-using.rst
  src/scripts/configure.ac
  src/util/cmitls.C
Labels: AMPI, MacOS, CMake, ARM

#3633 CI: Make NAMD a neutral test for external forks
  .github/workflows/namd.yml
Labels: CI

#3646 CMake: Add option to disable Fortran
  CMakeLists.txt
Labels: CMake, Fortran

#3716 build: fix option printing unset variable
  buildcmake
Labels: CMake

#3715 Cleanup: progress towards compiling with -Wall
  src/arch/netlrts/machine-eth.C
  src/arch/netlrts/machine.C
  src/arch/util/machine-broadcast.C
  src/arch/util/machine-common-core.C
  src/arch/util/machine-smp.C
  src/arch/util/mempool.C
  src/ck-core/ck.C
  src/ck-core/ckarray.C
  src/ck-core/ckcheckpoint.C
  src/ck-core/ckfutures.C
  src/ck-core/cklocation.C
  src/ck-core/ckmemcheckpoint.C
  src/ck-core/ckmulticast.C
  src/ck-core/ckrdma.C
  src/ck-core/ckrdma.h
  src/ck-cp/pathHistory.C
  src/ck-ldb/CentralLB.C
  src/ck-ldb/HybridBaseLB.C
  src/ck-ldb/RefinerTemp.C
  src/ck-ldb/TreeLevel.h
  src/ck-ldb/ckgraph.C
  src/ck-ldb/ckgraph.h
  src/ck-ldb/weakTest.C
  src/ck-perf/trace-common.C
  src/ck-perf/trace-projections.h
  src/conv-ccs/conv-ccs.C
  src/conv-core/conv-rdma.C
  src/conv-core/convcore.C
  src/conv-core/cpthreads.C
  src/conv-core/cputopology.C
  src/conv-core/debug-conv.C
  src/conv-core/isomalloc.C
  src/conv-core/queueing.C
  src/conv-core/taskqueue.h
  src/conv-ldb/cldb.C
  src/conv-ldb/cldb.neighbor.C
  src/conv-ldb/cldb.none.C
  src/conv-ldb/cldb.rand.C
  src/conv-ldb/cldb.test.C
  src/conv-ldb/cldb.workstealing.C
  src/conv-ldb/topology.C
  src/conv-perf/traceCore.C
  src/libs/ck-libs/NDMeshStreamer/NDMeshStreamer.h
  src/libs/ck-libs/pose/event.C
  src/libs/ck-libs/pose/event.h
  src/libs/ck-libs/pose/memory_temporal.h
  src/libs/ck-libs/pose/opt.h
  src/libs/ck-libs/pose/srtable.C
  src/libs/ck-libs/pose/stats.C
  src/libs/ck-libs/pose/stats.h
  src/libs/ck-libs/search/idastar.C
  src/libs/ck-libs/search/problem.C
  src/libs/ck-libs/search/serialtree.C
  src/util/crc32.C
  src/util/partitioning_strategies.C
  src/util/sockRoutines.C
Labels: cleanup

#3719 Cleanup warning from clang about unknown diagnostic
  src/QuickThreads/md/setjmp.c
  src/QuickThreads/md/setjmp64.c
  src/QuickThreads/md/setjmp64_.c
  src/QuickThreads/md/setjmp_m.c
  src/QuickThreads/md/sjalloca.c
Labels: cleanup

#3724 GitHub Workflows: Remove autobuild.yml
  .github/workflows/autobuild.yml
Labels: Build & test automation, CI, Autobuild

#3726 Cleanup: simplify sdag refnum setting using C++11 std::enable_if
  src/ck-core/sdag.h
Labels: cleanup

#3725 Cleanup: simplify CkSectionInfo based on C++11 union semantics
  src/ck-core/ckcallback.C
  src/ck-core/ckcallback.h
  src/ck-core/cksection.h
Labels: cleanup
