Repository charmplusplus/charm, pull requests merged in 2023-06, with the labels that each got.

#3734 Converse: print at startup if build is using non-default features
  src/conv-core/convcore.C
Labels: Converse

#3735 Verbs: Fix CMI_DEST_RANK_NET macro
  src/arch/netlrts/machine-persistent.C
  src/arch/verbs/machine-persistent.C
Labels: Bug, Verbs

#3200 charmc: allow extra options to override standard options
  src/scripts/charmc
Labels: charmc
