Repository charmplusplus/charm, pull requests merged in 2024-05, with the labels that each got.

#3793 Change license to Apache-2.0 with LLVM exceptions
  CHANGES
  LICENSE
  NOTICE
Labels: documentation, License

#3810 bugfix: use larger mempool parameters to avoid running out of pinnables
  CMakeLists.txt
  src/arch/ofi-linux-x86_64/conv-mach.sh
  src/arch/ofi/machine.C
  src/scripts/configure.ac
Labels: Cray, OFI, CMake, Buildold

#3816 Charm 8.0.0 rc1
  .github/workflows/ci.yaml
  .zenodo.json
  CHANGES
  CITATION.cff
  CMakeLists.txt
  README.md
  buildold
  cmake/README.md
  cmake/detect-features-cxx.cmake
  contrib/hwloc/config/hwloc.m4
  contrib/hwloc/configure
  doc/charm++/manual.rst
  doc/faq/manual.rst
  doc/index.rst
  doc/quickstart.rst
  src/arch/gni-crayxe/conv-mach.h
  src/ck-core/ckmulticast.C
  src/conv-core/conv-static.c
  src/conv-core/memory.C
  src/scripts/charmc
  src/scripts/configure.ac
Labels: documentation, Cray, OFI, CMake, Buildold, License

#3821 CI: Fix CircleCI machine image
  .circleci/config.yml
Labels: CI, ARM

#3820 delete time attribute from whenidle entry method
  examples/charm++/whenidle/idlework.C
  src/xlat-i/xi-Entry.C
Labels: Bug, charmxi
