Repository charmplusplus/charm, pull requests merged in 2025-02, with the labels that each got.

#3871 ci fixes bundle
  .github/workflows/ci.yaml
  CMakeLists.txt
  README.ampi
  buildcmake
  buildold
  doc/ampi/01-introduction.rst
  src/arch/multicore/charmrun
  src/libs/ck-libs/ampi/CMakeLists.txt
Labels: Bug, AMPI, mpi interoperability, Build & test automation, MPI layer, CI, Compiler, Buildold

#3873 cleanup: re-enable ChaNGa test after checkpoint fix
  .github/workflows/ci.yaml
Labels: CI

#3855 bugfix: improve CXI support for ALCF Aurora configuration
  src/arch/ofi/machine.C
Labels: machine layers, Performance, OFI

#3875 Fix ci for spack build
  .github/workflows/ci.yaml
Labels: CI
